bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
packages/
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
System.ValueTuple.4.3.0
/src/RautenSharp/bin/Debug
/src/packages/System.ValueTuple.4.3.1
/.paket/Paket.Restore.targets
/paket - Copy.lock
/src/.idea/.idea.UiDemo/.idea
/src/.idea/.idea.UiDemo
.vs
/**/*.g.fs
.idea
/src/Aardvark.Mondo.Demo/bin/Debug/netcoreapp2.1
/src/Aardvark.Mondo.Demo/bin/Debug/netcoreapp2.0
/src/Aardvark.Mondo.Demo/publish
/src/VideoSticher/*.domaincache
/src/Aardvark.Mondo.MediaDemo/*.domaincache
bin/
*.user
*.pubxml
.domaincache
*.domaincache
**/*.domaincache
.vscode
/.ionide
**.domaincache
/src/CpClicker/*.domaincache
published/
.paket